In [1]:
pip install pandas

Note: you may need to restart the kernel to use updated packages.Collecting pandas
  Downloading pandas-2.1.1-cp39-cp39-win_amd64.whl (10.8 MB)
     ---------------------------------------- 10.8/10.8 MB 1.9 MB/s eta 0:00:00
Collecting numpy>=1.22.4
  Using cached numpy-1.26.0-cp39-cp39-win_amd64.whl (15.8 MB)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     -------------------------------------- 341.8/341.8 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\administrator\pycharmprojects\pythonproject1\venv\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Requirement already satisfied: six>=1.5 in c:\users\administrator\pycharmprojects\pythonproject1\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.0 pandas-2.1.1 pytz-2023.3.post1 tzdata-2023.3

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [6]:
titanic = pd.read_csv(r"C:\Users\Administrator\Downloads\Titanic.csv")

In [7]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
titanic.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [10]:
titanic.Age.mean()

29.69911764705882

In [11]:
titanic.Fare.mean()

32.204207968574636

In [14]:
titanic.Fare.min()

0.0

In [15]:
titanic.Fare.max()

512.3292

In [17]:
titanic[titanic.Fare=="512.3292"]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [24]:
titanic.groupby("Sex").mean

In [26]:
titanic.Age[titanic["Sex"]=='female'].mean()

27.915708812260537

In [27]:
titanic.Age[titanic["Sex"]=='male'].mean()

30.72664459161148

In [28]:
titanic.Survived[titanic["Sex"]=='male'].mean()

0.18890814558058924

In [30]:
titanic.Survived[titanic["Sex"]=='male']

0      0
4      0
5      0
6      0
7      0
      ..
883    0
884    0
886    0
889    1
890    0
Name: Survived, Length: 577, dtype: int64

In [31]:
titanic.Survived.sum()

342

In [32]:
titanic.count

<bound method DataFrame.count of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

In [33]:
titanic.groupby("Embarked")

In [35]:
titanic.Name[titanic.Fare == 512.3292]

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [36]:
titanic.Survived[titanic.Survived==1][titanic.Sex == 'male'].count() / titanic.PassengerId.count()

0.122334455667789

In [38]:
titanic.Survived[titanic.Survived==1][titanic.Sex == 'female'].count() / titanic.PassengerId.count()

0.2615039281705948

In [39]:
titanic.Fare[titanic.Embarked == 'S'].mean()

27.079811801242233

In [40]:
titanic.Fare[titanic.Embarked == 'Q'].mean()

13.276029870129872

In [41]:
titanic.Fare[titanic.Embarked == 'C'].mean()

59.95414404761905

In [42]:
titanic.PassengerId[titanic.Embarked == 'S'].count()

644

In [43]:
titanic.PassengerId[titanic.Embarked == 'Q'].count()

77

In [44]:
titanic.PassengerId[titanic.Embarked == 'C'].count()

168